@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-color: #f1f2f4; */
    background-color: #00000065;
/* color: #78816965; */
}
.container-snap::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }